<!--<md-content class="Page-Container Footer iOS-hack" layout-align="center center">
    <md-icon md-svg-src="/img/icons/logo-grey.svg" class="Footer-logo"></md-icon>
    <br/>
    <br/>
    <div class="Footer-text">
        An open source project by <a href="https://github.com/jadjoubran" class="Footer-link" target="_blank">Jad
        Joubran</a>.
        Design by <a href="http://nicolesaidy.com" class="Footer-link" target="_blank">Nicole Saidy</a>
    </div>
    <div class="Footer-text">
        &copy; 2016 Laravel Angular Material Starter
    </div> grey-text text-lighten-4 move-space
</md-content>-->
<md-toolbar layout="row" layout-align="space-around center" layout-padding>
    <div class="md-body-1">
        &copy; 2016 Hosting search <span hide-xs> - www.marefx.com</span><br/> <!--//subscribe http://www.enkronos.com  && ToS-->
        <git-version></git-version>
    </div>
    <div class="md-body-1">
        <a class="social-icons" href="https://www.twitter.com" target="_blank"><i class="fa fa-twitter"></i></a>
        <a class="social-icons" href="https://www.facebook.com" target="_blank"><i class="fa fa-facebook"></i></a>
        <a class="social-icons" href="https://www.youtube.com" target="_blank"><i class="fa fa-youtube"></i></a>
        <a class="social-icons" href="https://www.linkedin.com" target="_blank"><i class="fa fa-linkedin"></i></a>
    </div>
</md-toolbar>
