<md-tabs md-dynamic-height="true" md-border-bottom="">
    <md-tab label="CPU">
        <md-content class="md-padding">
            <h4>Information</h4>
            <md-divider></md-divider>
            <h4>CPU usage - Live chart</h4>
            <md-divider></md-divider>
            <nvd3 options='vm.options' data='vm.dataCPU' config="vm.conf" api="vm.apiconf"></nvd3>
        </md-content>
    </md-tab>
    <md-tab label="Memory">
        <md-content class="md-padding">
            <h4>Information</h4>
            <md-divider></md-divider>
            <h4>Memory usage - Live chart</h4>
            <md-divider></md-divider>
            <nvd3 options='vm.options' data='vm.dataRAM' config="vm.conf"></nvd3>
        </md-content>
    </md-tab>
    <md-tab label="Storage">
        <md-content class="md-padding">
            <h4>Information</h4>
            <md-divider></md-divider>
            <h4>Storage usage - Live chart</h4>
            <md-divider></md-divider>
            <nvd3 options='vm.options' data='vm.dataHDD' config="vm.conf"></nvd3>
        </md-content>
    </md-tab>
    <md-tab label="Processes">
        <md-content class="md-padding">
            <h4>Information</h4>
            <md-divider></md-divider>
            <h4>Number of threads - Live chart</h4>
            <md-divider></md-divider>
            <nvd3 options='vm.optionsNumber' data='vm.dataThreads' config="vm.conf"></nvd3>
            <md-divider></md-divider>
            <h4>Users logged in (system) - Live chart</h4>
            <md-divider></md-divider>
            <nvd3 options='vm.optionsNumber' data='vm.dataUsers' config="vm.conf"></nvd3>
        </md-content>
    </md-tab>
    <md-tab label="Bandwidth">
        <md-content class="md-padding">
            <h1 class="md-display-2">Bandwidth / Latency</h1>
            <p>Integer turpis erat, porttitor vitae mi faucibus, laoreet interdum tellus. Curabitur posuere molestie dictum. Morbi eget congue risus, quis rhoncus quam. Suspendisse vitae hendrerit erat, at posuere mi. Cras eu fermentum nunc. Sed id ante eu orci commodo volutpat non ac est. Praesent ligula diam, congue eu enim scelerisque, finibus commodo lectus.</p>
        </md-content>
    </md-tab>
</md-tabs>
