<div flex-xs="100" flex-sm="100" flex-gt-sm="70" flex-offset-gt-sm="15" layout="row" ng-if="!vm.loaded">
    <span flex></span>
    <md-progress-circular class="md-primary" md-mode="indeterminate" md-diameter="100"></md-progress-circular>
    <span flex></span>
</div>
<md-content class="md-padding" flex="70" flex-offset="15">
    <md-card ng-if="vm.loaded" md-whiteframe="6">
        <md-card-title>
            <md-card-title-text>
                <div layout="row" layout-align="space-between center">
                    <span class="md-display-1">{{ vm.server_info.provider.provider_name }}</span>
                    <span class="md-display-1" style="padding: 20px"><i class="fa fa-star-o" aria-hidden="true"></i><i class="fa fa-star-o" aria-hidden="true"></i><i class="fa fa-star-o" aria-hidden="true"></i><i class="fa fa-star-o" aria-hidden="true"></i><i class="fa fa-star-o" aria-hidden="true"></i></span>
                </div>
                <md-divider></md-divider>
                <span class="md-headline" style="padding: 8px 0 8px 0">Cloud server information</span>
                <table class="striped">
                    <tbody>
                    <tr>
                        <td>Server price</td>
                        <td>{{ vm.server_info.server_price | currency }} ({{ vm.server_info.server_price_hr | currency }}/hr)</td>
                    </tr>
                    <tr>
                        <td>Location</td>
                        <td>{{ vm.server_info.location }}</td>
                    </tr>
                    <tr>
                        <td>RAM</td>
                        <td>{{ vm.server_info.ram_size }}GB ({{ vm.server_info.ram_type }})</td>
                    </tr>
                    <tr>
                        <td>CPU</td>
                        <td>{{ vm.server_info.cpu_cores }} cores @ {{ vm.server_info.cpu_power }}GHz</td>
                    </tr>
                    <tr>
                        <td>Storage</td>
                        <td>{{ vm.server_info.hdd_size }}GB ({{ vm.server_info.hdd_type }})</td>
                    </tr>
                    <tr>
                        <td>Bandwidth</td>
                        <td>{{ vm.server_info.bandwidth_tb }}TB</td>
                    </tr>
                    <tr>
                        <td>Platform</td>
                        <td>{{ vm.server_info.platform_os }}</td>
                    </tr>
                    <tr>
                        <td>IPs</td>
                        <td>{{ vm.server_info.num_ips }}</td>
                    </tr>
                    </tbody>
                </table>

                <div layout="row" layout-align="space-between center">
                    <span flex></span>
                    <span class="md-subhead" flex="15">Viewed {{ vm.server_info.views }} times</span>
                </div>
                <md-divider></md-divider>

                <span class="md-headline" style="padding: 8px 0 8px 0">Details</span>
                <span class="md-subhead">{{ vm.server_info.other_info }}</span>
                <md-divider></md-divider>
                <span class="md-headline" style="padding: 8px 0 8px 0">Company</span>
                <span class="md-subhead">{{ vm.server_info.provider.description }}</span>

                <md-divider></md-divider>
                <span class="md-headline" style="padding: 8px 0 8px 0">Reviews</span>
            </md-card-title-text>
            <md-card-title-media>
                <img ng-src="{{ vm.server_info.provider.logo }}" class="md-media-lg" alt="Logo">
            </md-card-title-media>
        </md-card-title>
        <md-card-actions layout="row" layout-align="end center">
            <md-button ng-click="vm.report(vm.server_info.id)">Report</md-button>
            <md-button ng-click="vm.favorite(vm.server_info.id)" ng-show="!vm.favored && vm.$auth.isAuthenticated()">Add to favorites</md-button>
            <md-button ng-click="vm.removeFavorite(vm.server_info.id)" ng-show="vm.favored && vm.$auth.isAuthenticated()">Remove from favorites</md-button>
            <md-button>Order</md-button>
        </md-card-actions>
    </md-card>
</md-content>
