<md-tabs md-dynamic-height="true" md-border-bottom="">
    <md-tab label="CPU">
        <md-content class="md-padding">
            <h4>Information</h4>
            <md-divider></md-divider>
            <cpu-information></cpu-information>
            <md-divider></md-divider>
            <h4>Usage - Live chart</h4>
            <md-divider></md-divider>
            <cpu-usage-chart></cpu-usage-chart>
        </md-content>
    </md-tab>
    <md-tab label="RAM">
        <md-content class="md-padding">
            <h4>Information</h4>
            <md-divider></md-divider>
            <ram-information></ram-information>
            <md-divider></md-divider>
            <h4>Usage - Live chart</h4>
            <md-divider></md-divider>
            <ram-usage-chart></ram-usage-chart>
        </md-content>
    </md-tab>
    <md-tab label="Storage">
        <md-content class="md-padding">
            <h1 class="md-display-2">Storage</h1>
            <p>Integer turpis erat, porttitor vitae mi faucibus, laoreet interdum tellus. Curabitur posuere molestie dictum. Morbi eget congue risus, quis rhoncus quam. Suspendisse vitae hendrerit erat, at posuere mi. Cras eu fermentum nunc. Sed id ante eu orci commodo volutpat non ac est. Praesent ligula diam, congue eu enim scelerisque, finibus commodo lectus.</p>
        </md-content>
    </md-tab>
    <md-tab label="Processes">
        <md-content class="md-padding">
            <h1 class="md-display-2">Processes</h1>
            <p>Integer turpis erat, porttitor vitae mi faucibus, laoreet interdum tellus. Curabitur posuere molestie dictum. Morbi eget congue risus, quis rhoncus quam. Suspendisse vitae hendrerit erat, at posuere mi. Cras eu fermentum nunc. Sed id ante eu orci commodo volutpat non ac est. Praesent ligula diam, congue eu enim scelerisque, finibus commodo lectus.</p>
        </md-content>
    </md-tab>
    <md-tab label="Bandwidth">
        <md-content class="md-padding">
            <h1 class="md-display-2">Bandwidth / Latency</h1>
            <p>Integer turpis erat, porttitor vitae mi faucibus, laoreet interdum tellus. Curabitur posuere molestie dictum. Morbi eget congue risus, quis rhoncus quam. Suspendisse vitae hendrerit erat, at posuere mi. Cras eu fermentum nunc. Sed id ante eu orci commodo volutpat non ac est. Praesent ligula diam, congue eu enim scelerisque, finibus commodo lectus.</p>
        </md-content>
    </md-tab>
</md-tabs>
