<md-sidenav class="md-sidenav-left md-whiteframe-z2 md-sticky-header md-tall" md-component-id="left" md-is-locked-open="false">
    <md-toolbar class="md-hue-2 md-theme-indigo" layout="row">
        <h1 class="md-toolbar-tools">Navigation</h1>

        <span flex></span>
        <md-button class="md-icon-button" ng-click="vm.closeFilter('left')" aria-label="Close">
            <md-icon md-svg-icon="img/icons/arrow-back.svg"></md-icon>
        </md-button>
    </md-toolbar>

    <md-menu-item>
        <md-button ui-sref="app.landing" ng-click="vm.closeFilter('left')" flex>HOME</md-button>
    </md-menu-item>
    <md-menu-item>
        <md-button ui-sref="app.advanced_search" ng-click="vm.closeFilter('left')" flex>ADVANCED SEARCH</md-button>
    </md-menu-item>
    <md-menu-item>
        <md-button ui-sref="app.about" ng-click="vm.closeFilter('left')" flex>ABOUT</md-button>
    </md-menu-item>

   <!-- <md-list>
        <md-list-item>
            <md-button ui-sref="app.landing" ng-click="vm.closeFilter('left')" flex>HOME</md-button>
        </md-list-item>
        <md-list-item>
            <md-button ui-sref="app.advanced_search" ng-click="vm.closeFilter('left')" flex>ADVANCED SEARCH</md-button>
        </md-list-item>
        <md-list-item>
            <md-button ui-sref="app.contact" ng-click="vm.closeFilter('left')" flex>CONTACT</md-button>
        </md-list-item>
    </md-list>-->
    <md-divider></md-divider>
</md-sidenav>
