<md-content layout="column" layout-align="center" class="md-padding">
    <div layout="row" layout-align="center center">
        <div flex-gt-lg="66" flex-sm="100" flex-xs="100" flex-md="100" flex-lg="80" layout-gt-sm="row" layout-align-gt-sm="center stretch">
            <div flex-gt-sm="70" flex-sm="100" flex-xs="100">
                <homepage-info></homepage-info>
            </div>
            <div flex-gt-sm="30" flex-sm="100" flex-xs="100">
                <tweets></tweets>
            </div>
        </div>
    </div>
</md-content>
