<md-card md-whiteframe="6" >
    <md-card-title flex="initial">
        <md-card-title-text layout-padding>
            <span class="md-headline">@HSearch Tweets</span>
            <md-divider></md-divider>
            <span layout="row" layout-align="start center">
                    <md-progress-circular ng-if="vm.loading" class="md-primary" md-mode="indeterminate" md-diameter="35"></md-progress-circular>
            </span>
            <div ng-if="!vm.loading" ng-repeat="tweet in vm.tweets">
                <span class="md-title">
                    {{ tweet.text }}
                </span>
                <br/>
                <br/>
                <md-divider></md-divider>
            </div>
        </md-card-title-text>
    </md-card-title>
</md-card>