<md-card md-whiteframe="6" >
    <md-card-title flex="initial">
        <md-card-title-text layout-padding>
            <span class="md-headline">Tweets</span>
            <md-divider></md-divider>
            <div>
                <span class="md-body-1">
                    In hac habitasse platea dictumst. Proin et imperdiet elit. Pellentesque sed maximus mi, sodales pellentesque eros. Duis finibus est ut urna tristique blandit. Proin erat turpis, ornare id lacinia iaculis, lacinia ut augue. In a malesuada ante, sed pharetra lorem. Donec volutpat id ante nec consectetur.
                </span>
                <md-divider></md-divider>
                <span class="md-body-1">
                    In hac habitasse platea dictumst. Proin et imperdiet elit. Pellentesque sed maximus mi, sodales pellentesque eros. Duis finibus est ut urna tristique blandit. Proin erat turpis, ornare id lacinia iaculis, lacinia ut augue. In a malesuada ante, sed pharetra lorem. Donec volutpat id ante nec consectetur.
                </span>
                <md-divider></md-divider>
                <span class="md-body-1">
                    In hac habitasse platea dictumst. Proin et imperdiet elit. Pellentesque sed maximus mi, sodales pellentesque eros. Duis finibus est ut urna tristique blandit. Proin erat turpis, ornare id lacinia iaculis, lacinia ut augue. In a malesuada ante, sed pharetra lorem. Donec volutpat id ante nec consectetur.
                </span>
                <md-divider></md-divider>
                <span class="md-body-1">
                    In hac habitasse platea dictumst. Proin et imperdiet elit. Pellentesque sed maximus mi, sodales pellentesque eros. Duis finibus est ut urna tristique blandit. Proin erat turpis, ornare id lacinia iaculis, lacinia ut augue. In a malesuada ante, sed pharetra lorem. Donec volutpat id ante nec consectetur.
                </span>
                <md-divider></md-divider>
                <span class="md-body-1">
                    In hac habitasse platea dictumst. Proin et imperdiet elit. Pellentesque sed maximus mi, sodales pellentesque eros. Duis finibus est ut urna tristique blandit. Proin erat turpis, ornare id lacinia iaculis, lacinia ut augue. In a malesuada ante, sed pharetra lorem. Donec volutpat id ante nec consectetur.
                </span>
            </div>
        </md-card-title-text>
    </md-card-title>
</md-card>