<div class="Page-container" layout="column" layout-align="center">
    <div layout="row" layout-align="center center">
        <div flex-gt-sm="66" flex-sm="100" flex-xs="100">
            <md-card md-whiteframe="6">
                <form name="contactForm">
                    <md-card-title>
                        <md-card-title-text layout-padding>
                            <span class="md-headline">Abous us</span>
                            <md-divider></md-divider>
                            Serverfinder was created by...
                        </md-card-title-text>
                    </md-card-title>
                </form>
            </md-card>
        </div>
    </div>
    <!--<div layout-lt-md="column" layout-gt-sm="row" layout-align="center stretch" layout-padding>-->
    <div layout="row" layout-align="center center">
        <div flex-gt-sm="66" flex-sm="100" flex-xs="100" layout="row" layout-align="center stretch">
            <md-card md-whiteframe="6" flex>
                <form name="contactForm">
                    <md-card-title>
                        <md-card-title-text layout-padding>
                            <span class="md-headline">You can find us here</span>
                            <md-divider></md-divider>
                            <div>
                                Other contact info, email, phone,...
                            </div>
                        </md-card-title-text>
                    </md-card-title>
                </form>
            </md-card>
            <md-card md-whiteframe="6" flex>
                <contact-form></contact-form>
            </md-card>
        </div>
    </div>
</div>
