<md-content class="md-padding" layout="column" layout-align="center">
    <div layout="row" layout-align="center center">
        <div flex-gt-sm="66" flex-sm="100" flex-xs="100">
            <md-card md-whiteframe="6">
                <form name="contactForm">
                    <md-card-title>
                        <md-card-title-text layout-padding>
                            <span class="md-headline">Abous us</span>
                            <md-divider></md-divider>
                            Are you looking for the perfect server for your needs? Well, the purpose of Server Finder is
                            to narrow your search down to your needs as much as possible for the right price.<br/> <br/>
                            Server Finder was created by @Marko as a personal project, which was developed with Laravel
                            back-end and AngularJS front-end, while using Material Design for the styling purpose.<br/>
                            <br/>
                            Do you have a question for us? Maybe a feature suggestion? Don't hesitate to leave us a
                            message!
                        </md-card-title-text>
                    </md-card-title>
                </form>
            </md-card>
        </div>
    </div>
    <!--<div layout-lt-md="column" layout-gt-sm="row" layout-align="center stretch" layout-padding>-->
    <div layout="row" layout-align="center center">
        <div flex-gt-sm="66" flex-sm="100" flex-xs="100" layout-gt-sm="row" layout-align-gt-sm="center stretch">
            <md-card md-whiteframe="6" flex>
                <form name="contactForm">
                    <md-card-title>
                        <md-card-title-text layout-padding>
                            <span class="md-headline">Contact us</span>
                            <md-divider></md-divider>
                            <div>
                                <h4><i class="fa fa-envelope" aria-hidden="true" aria-label="email-envelope"></i> <a
                                        class="project-link" href="mailto:support@marefx.com">support@marefx.com</a>
                                </h4>
                                <md-divider></md-divider>
                                <br/>
                                <h4><i class="fa fa-twitter" aria-hidden="true" aria-label="twitter"></i> <a
                                        class="project-link"
                                        href="https://twitter.com/ServerFinder.com">@ServerFinder</a></h4>
                                <md-divider></md-divider>
                                <br/>
                                <h4><i class="fa fa-phone" aria-hidden="true" aria-label="phone"></i> +386 (0)00-000-000
                                </h4>
                            </div>
                        </md-card-title-text>
                    </md-card-title>
                </form>
            </md-card>
            <md-card md-whiteframe="6" flex>
                <contact-form></contact-form>
            </md-card>
        </div>
    </div>
</md-content>
