<div>
    <md-card md-whiteframe="6">
        <md-card-title flex="initial">
            <md-card-title-text layout-padding>
                <span class="md-headline" layout="row" layout-align="start center">
                    Latest news:
                    <md-progress-circular ng-if="vm.loading" class="md-primary" md-mode="indeterminate" md-diameter="35"></md-progress-circular>
                    {{ vm.info.news.title }}
                </span>
                <md-divider></md-divider>
                <div layout="row" layout-align="center center" ng-if="vm.loading">
                    <md-progress-circular class="md-primary" md-mode="indeterminate" md-diameter="100"></md-progress-circular>
                </div>
                <div ng-if="!vm.loading">
                    {{ vm.info.news.body }}
                </div>
            </md-card-title-text>
        </md-card-title>
    </md-card>
</div>
<div>
    <md-card md-whiteframe="6">
        <md-card-title flex="initial">
            <md-card-title-text layout-padding>
                <span class="md-headline">Popular <md-icon md-svg-icon="img/icons/ic_info_outline_black_24px.svg"></md-icon></span>
                <md-divider></md-divider>
                <div layout="row" layout-align="center center" ng-if="vm.loading">
                    <md-progress-circular class="md-primary" md-mode="indeterminate" md-diameter="100"></md-progress-circular>
                </div>
                <div ng-if="!vm.loading" ng-repeat="server in vm.info.popular">
                    <md-menu-item>
                        <md-button ui-sref="app.view{{ server.server_type }}({ id: server.id })">
                            <md-icon md-svg-icon="img/icons/{{ server.icon }}" hide-xs></md-icon>
                            {{ server.cpu_version }} | {{ server.ram_size }}GB | {{ server.hdd_size }}GB {{ server.hdd_type }} | {{ server.bandwidth_tb }}TB | {{ server.server_price | currency }}
                        </md-button>
                    </md-menu-item>
                    <md-divider></md-divider>
                </div>
            </md-card-title-text>
        </md-card-title>
    </md-card>
</div>
<div>
    <md-card md-whiteframe="6">
        <md-card-title flex="initial">
            <md-card-title-text layout-padding>
                <span class="md-headline">Recently added</span>
                <md-divider></md-divider>
                <div layout="row" layout-align="center center" ng-if="vm.loading">
                    <md-progress-circular class="md-primary" md-mode="indeterminate" md-diameter="100"></md-progress-circular>
                </div>
                <div ng-if="!vm.loading" ng-repeat="server in vm.info.recent">
                    <md-menu-item>
                        <md-button ui-sref="app.view{{ server.server_type }}({ id: server.id })">
                            <md-icon md-svg-icon="img/icons/{{ server.icon }}" hide-xs></md-icon>
                            {{ server.cpu_version }} | {{ server.ram_size }}GB | {{ server.hdd_size }}GB {{ server.hdd_type }} | {{ server.bandwidth_tb }}TB | {{ server.server_price | currency }}
                        </md-button>
                    </md-menu-item>
                    <md-divider></md-divider>
                </div>
            </md-card-title-text>
        </md-card-title>
    </md-card>
</div>
