<form name="contactForm" ng-submit="vm.submit();">
    <md-card-title>
        <md-card-title-text layout-padding>
            <span class="md-headline">Send us a message</span>
            <md-divider></md-divider>
            <div>
                <div layout-gt-sm="row">
                    <md-input-container class="md-block" flex-gt-sm>
                        <label>First name:</label>
                        <input ng-model="vm.firstName" required>
                    </md-input-container>

                    <md-input-container class="md-block" flex-gt-sm>
                        <label>Last name (optional):</label>
                        <input ng-model="vm.lastName">
                    </md-input-container>
                </div>
                <md-input-container md-no-float class="md-block" flex-gt-sm>
                    <label for="email">Email:</label>
                    <input type="email" id="email" name="email" ng-model="vm.email" required/>
                </md-input-container>
                <md-input-container class="md-block" flex-gt-sm>
                    <label>Message</label>
                    <textarea ng-model="vm.message" md-maxlength="250" rows="5" md-select-on-focus required></textarea>
                </md-input-container>
            </div>
        </md-card-title-text>
    </md-card-title>
    <md-card-actions layout="row" layout-align="end center">
        <md-button class="md-primary" type="submit" ng-class="{'md-raised md-hue-1' : (contactForm.$dirty && contactForm.$valid)}">Submit</md-button>
    </md-card-actions>
</form>
